<h1>Lista de atendimento</h1>

{{#each atendimentos}}
    <a href="http://localhost:8080/Cadastro_Atendimento">
    <li>
    <p>ID: {{dataValues.id}} </p>
    <p>Status: {{dataValues.status}}</p>
    <p>Nome: {{dataValues.nome_cliente}}</p>
    <p>Empresa: {{dataValues.nome_empresa}}</p>
    <p>Telefone: {{dataValues.telefone_cliente}}</p>
    <p>Logradouro: {{dataValues.endereco_cliente_rua}}</p>
    <p>Número: {{dataValues.endereco_cliente_numero}}</p>
    <p>Complemento: {{dataValues.endereco_cliente_complemento}}</p>
    {{#each funcionarios}}
    <p>Funcionario: {{dataValues.nome_funcionario}} </p>
    {{/each}}
    </li>
    </a>
    <hr>
{{/each}}
