<h1>Lista de atendimento</h1>

{{#each atendimentos}}
    <p>Nome: {{dataValues.NomeCliente}}</p>
    <p>Empresa: {{dataValues.NomeEmpresa}}</p>
    <p>Telefone: {{dataValues.TelefoneCliente}}</p>
    <p>Longradouro: {{dataValues.EnderecoClienteRua}}</p>
    <p>Número: {{dataValues.EnderecoClienteNumero}}</p>
    <p>Complemento: {{dataValues.EnderecoClienteComplemento}}</p>
    <hr>
{{/each}}