<h1>Lista de atendimento</h1>

{{#each atendimentos}}
    
    <li>
   <p>ID:<a href="http://localhost:8080/Atualiza_Atendimento/{{dataValues.id}}">{{dataValues.id}}</a></p>
    <p>Status: {{dataValues.status}}</p>
    <p>Nome: {{dataValues.nome_cliente}}</p>
    <p>Empresa: {{dataValues.nome_empresa}}</p>
    <p>Problema:  {{dataValues.problema_cliente}} </p>
    <p>Telefone: {{dataValues.telefone_cliente}}</p>
    <p>Logradouro: {{dataValues.endereco_cliente_rua}}</p>
    <p>Número: {{dataValues.endereco_cliente_numero}}</p>
    <p>Complemento: {{dataValues.endereco_cliente_complemento}}</p>
    {{#each funcionarios}}
    <p>Funcionario: {{dataValues.nome_funcionario}} </p>
    {{/each}}
    </li>
    <hr>
{{/each}}
